<div class="serviseCardsContainer">
   <div class="servisecardContainer">
    <div class="servisecardTitleTextContainer servisecardTitleTextContainerRight">
        <h3 class="servisecardTitle">Кто я</h3>
       
        <p class="servisecardText">Я системный администратор со стажем работы более 15 лет. Готов поделиться с вами накопленным опытом. </p>
    <button class="serviseCardButton">
        Узнать больше
    </button>
    </div>
    <div class="serviseCardImgContainer">
   <img src="./images/840px-Professiya-sistemnyj-administrator-3.jpg" alt="" class="image">
    </div>
   </div>

   <div class="servisecardContainer servisecardContainerReverse">
    <div class="servisecardTitleTextContainer servisecardTitleTextContainerLeft">
        <h3 class="servisecardTitle">Каковы преимущества <br> индивидуальных занятий</h3>
       
        <ul class="servisecardList">
            <li class="item">
              <a href="" class="link">Персональный подход</a>
            </li>
            <li class="item">
                <a href="" class="link">Гибгий график</a>
              </li>
              <li class="item">
                <a href="" class="link">Больше внимания</a>
              </li>
              <li class="item">
                <a href="" class="link">Первое занятие бесплатно</a>
              </li>
        </ul>
    <button class="serviseCardButton">
        Узнать больше
    </button>
    </div>
    <div  class="serviseCardImgContainer">
   <img src="./images/scale_1200.webp" alt="" class="image">
    </div>
   </div>
</div>